.header_block{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 7%;
}

.header_block_button{
  margin-left: 10px;
}

.header_block_error{
  text-align: center;
  color: red;
}

.header_block_error_serv{
  color: red;
}

.using_wordpress{
  color: green;
}

.non_using_wordpress{
  color: red;
}